.App {
  text-align: center;
  background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2017/10/10-mejores-series-peliculas-netflix-halloween-2017_1.jpg?tf=3840x");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: absolute;
  background-attachment: fixed;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Opcional: para centrar las tarjetas horizontalmente */
  align-items: center; /* Opcional: para centrar las tarjetas verticalmente */
  margin: 2em;
  padding: 1rem;
  gap: 1rem;
}

h2 {
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 0 auto;
  background-color: pink;
}
